* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact;
}

body {
    font-family: Arial, sans-serif;
}

/* левая сторона */

.left-block {
    background: url(../res/image.png);
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

.left-block .logo {
    margin-left: 30px;
    margin-top: 30px;
    height: 70px;
    
}

/* правая сторона */
 
.right-block {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    background: url(../res/uzorr.png);
    background-position: 0px -60px;
    background-repeat: repeat-x;
}

.right-block h1 {
    text-align: center;
    margin-top: 130px;
    font-size: 100px;
}

.right-block p {
    font-family: Tahoma;
    text-align: center;
    font-size: 32px;
    margin-bottom: 200px;
}

/* кнопка */

.action-btn {
    width: 300px;
    height: 80px;
    position:relative;
    left:35%;
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
    background-color: #FFF069;
    color: #000000;
    letter-spacing: 0.3cm;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #CCCBE7;
}