* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
	overflow-x: hidden;
	overflow-y: hidden;
}
body {
	background-color: #EBEAEA;
	margin: 0;
}
.main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100vh;
}
.constructor {
	float: left;
	/* width: 730px;
	background-color: white;
	height: 1000px;
	padding-left: 30px;
	box-sizing: border-box;
	padding-top: 50px; */
	background-size: cover;
	width: 50vw;
    height: 100%;
    position: relative;
	padding-left: 3%;
	padding-top: 3%;
	overflow: auto;
	background-color: white;
}
.right-block {
	width: 47vw;
    height: 100%;
    /* background-size: cover; */
    position: relative;
	padding-left: 30px;
	padding-top: 50px;
	background-color: #EBEAEA;
	overflow-y: hidden;
}
.label-name {
	display: block;
	font-size: 16px;
	color: rgb(0, 0, 0);
	margin-bottom: 7px;
}
.card-example {
	position: relative;
	left: 17%;
	top: 25%;
	width: 450px;
	height: 270px;
	min-width: 450px;
	min-height: 270px;
	background-color: white;
	border: rgb(161, 161, 161) 1px solid;
	font-size: 14px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	color: #202020;
}
.second {
	position: absolute;
	z-index: 999;
}
.block  {
	height: 80px;
	margin-bottom: 15px;
}
.font-block {
	overflow: hidden;
    min-height: 30vh;
	z-index: 100;
}
.container > label > input {
	width: 400px;
	height: 50px;
	outline: none;
	border: rgb(156,156,156) solid 1px;
	border-radius: 3px;
	padding: 7px 0px 7px 9px;
	transition: all 0.20s ease-in-out;
}
.container > label > input:focus {
	outline: #2684FF;
	border-color: #2684FF;
}
.inner-text {
	color: #757575;
	font-size: 14px;
	margin-top: 10px;
}

.inner-container {
	display: flex;
	justify-content: space-between;
	color: #202020;
	line-height: 22px;
	max-height: 25px;
	margin: 20px 50px 0px 50px;
}
.straigthen > input[type="radio"], 
.palette > input[type="radio"],
.palette > label > input[type="radio"], 
.fsize > input[type="radio"] {
	position: fixed;
	opacity: 0;
	width: 0;
	margin: 0;
	height: 100%;
}
.straigthen, .fsize {
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
}
.inner-container_straighten-block, .inner-container_size-block {
	box-sizing: border-box;
	overflow: hidden;
	width: 100px;
	width: auto;
	border: rgb(156,156,156) solid 1px;
	border-radius: 3px;
}
.straigthen {
	display: inline-block;
	cursor: pointer;
	width: 32px;
	text-align: center;
	line-height: 22px;
	height: 100%;
}
.fsize {
	display: inline-block;
	cursor: pointer;
	max-width: 30px;
	line-height: 22px;
	height: 100%;
}
.straigthen-img {
	padding: 4px 2px 0px 2px;
}
.fsize > span {
	padding: 4px 2px 6px 2px;
}
.straigthen > input[type="radio"]:checked + .straigthen-img {
	background-color:  #D9D9D9;
}
.fsize > input[type="radio"]:checked + span {
	background-color:  #D9D9D9;
}
.palette {
	display: flex;
	flex-direction: row;
	width: 200px;
	justify-content: space-between;
	margin-top: 10px;
}
.palette > label {
	margin-right: 5px;
	border-radius: 100px;
	background-color: #fff;
	cursor: pointer;
}
.not-checked {
	border: 12px solid;
	width: 0;
	height: 0;
}
.checked {
	border: 7px solid;
	width: 10px;
	height: 10px;
}
.lcolorful1 {
	border-color: #000;
}
.lcolorful2 {
	border-color: #3F88E8;
}
.lcolorful3 {
	border-color: #E83F56;
}
.lcolorful4 {
	border-color: #097A14;
}
.lcolorful5 {
	border-color: #DCA40A;
}
.lcolorful6 {
	border-color: #DC0AD5;
}
.lblack1 {
	border-color: #202020;
}
.lblack2 {
	border-color: #474747;
}
.lblack3 {
	border-color: #636363;
}
.lblack4 {
	border-color: #9E9E9E;
}
.lblack5 {
	border-color: #BBBBBB;
}
.lblack6 {
	border-color: #E3E3E3;
}
.inner-block > span {
	margin-left: 5px;
	text-align: left;
	font-size: 12px;
	color: #707070;
}
.inner-block {
	margin-top: 7px;
}
.addPhone {
	cursor: pointer;
	width: 17px;
	height: 17px;
}
.showMail, .showLocation {
	color: #707070;
}
.inner-container > label {
	color: #707070;
	font-size: 12px;
}
.submit-button {
	position: absolute;
	top: 95vh;
	background-color: #FFF069;
	color: #000000;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(34, 60, 80, 0.2);
    transition: background-color 0.3s ease;
	height: 35px;
	width: 130px; 
	line-height: 35px;
	cursor: pointer;
	margin-bottom: 2.5%;
	z-index: 1;
}
.submit-button:hover {
	background-color: #CCCBE7;
}
.export-button {
	float: right;
    position: relative;
    right: 15%;
	top: 26%;
	background-color: #FFF069;
	color: #000000;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 0px -1px rgba(34, 60, 80, 0.2);
    transition: background-color 0.3s ease;
	height: 35px;
	width: 130px; 
	line-height: 35px;
	cursor: pointer;
}
.export-button:hover {
	background-color: #CCCBE7;
}
.Org-card-example {
	font-size: 10px;
	margin-bottom: 35px;
}
.phone-card-example, .mail-card-example, 
.location-card-example, .phone2-card-example {
	font-size: 12px;
}
.name-example {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 15px;
}
.Org-card-example, .name-card-example, .position-card-example {
	text-align: center;
}
.hidden-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 7px;
	width: 200px;
}
.hidden-block > input {
	height: 22px;
	border: rgb(156,156,156) solid 1px;
	border-radius: 3px;
}
.removePhone {
	cursor: pointer;
	width: 17px;
	height: 17px;
	margin-top: 2.5px;
}
.none {
	display: none;
}
.inner-container_size-block {
	margin-left: 20px;
}
.extra-info-block {
	margin-top: 25px; 
	margin-left: 50%;
}




.file-upload {
    background-color: #ffffff;
    width: 400px;
	margin-bottom: 15px;
}
  
.file-upload-btn {
    width: 100%;
    margin: 0;
    color: black;
	font-size: 14px;
    background: #CCCBE7;
    border: none;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s ease;
    outline: none;
}
  
.file-upload-btn:hover {
    background: #D3D8DC;
    color: black;
    transition: all .2s ease;
    cursor: pointer;
}
  
.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}
  
.file-upload-content {
    display: none;
    text-align: center;
}
  
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.image-upload-wrap {
    margin-top: 10px;
    border: 3px dashed #CCCBE7;
    border-radius: 3px;
    position: relative;
    height: 100px;
}
  
.image-dropping,
.image-upload-wrap:hover {
    background-color: #CCCBE7;
    border: 3px dashed #ffffff;
}
  
.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #000000;
}
.drag-text {
	width: 350px;
	padding: 5% 0 0 5%;
	text-align: center;
}
.drag-text span {
    color: black;
    text-align: center;
	font-size: 14px;
}
  
.file-upload-image {
    max-height: 100px;
    max-width: 200px;
    /* margin: auto;
    padding: 20px; */
}
.remove-image {
    width: 400px;
    margin: 0;
    color: #fff;
    background: #A54549;
    border: none;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s ease;
    outline: none;
}
.remove-image:hover {
    background: rgb(156, 47, 32);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}


.file-upload2 {
    background-color: #ffffff;
    width: 400px;
	margin-bottom: 15px;
} 
.file-upload-btn2 {
    width: 100%;
    margin: 0;
    color: black;
	font-size: 14px;
    background: #CCCBE7;
    border: none;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s ease;
    outline: none;
}
.file-upload-btn2:hover {
    background: #D3D8DC;
    color: black;
    transition: all .2s ease;
    cursor: pointer;
}
.file-upload-btn2:active {
    border: 0;
    transition: all .2s ease;
}
.file-upload-content2 {
    display: none;
    text-align: center;
}
.file-upload-input2 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.image-upload-wrap2 {
    margin-top: 10px;
    border: 3px dashed #CCCBE7;
    border-radius: 3px;
    position: relative;
    height: 100px;
}
  
.image-dropping2,
.image-upload-wrap2:hover {
    background-color: #CCCBE7;
    border: 3px dashed #ffffff;
}
  
.image-title-wrap2 {
    padding: 0 15px 15px 15px;
    color: #000000;
}
.drag-text2 {
	width: 350px;
	padding: 5% 0 0 5%;
	text-align: center;
}
.drag-text2 span {
    color: black;
    text-align: center;
	font-size: 14px;
}
  
.file-upload-image2 {
    max-height: 100px;
    max-width: 200px;
    /* margin: auto;
    padding: 20px; */
}
.remove-image2 {
    width: 400px;
    margin: 0;
    color: #fff;
    background: #A54549;
    border: none;
    padding: 10px;
    border-radius: 3px;
    transition: all .2s ease;
    outline: none;
}
.remove-image2:hover {
    background: rgb(156, 47, 32);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}



.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
  }
    .custom-select-wrapper select {
      display: none;
    }
    /* .custom-select {
      position: relative;
      display: inline-block;
      border: none;
      box-shadow: none;
      margin-bottom: 20px;
    } */
      .custom-select-trigger {
        position: relative;
        display: block;
        max-width: 800px;
        height: 40px;
        min-width: 200px;
        /* min-height: 100px; */
        padding: 10px 0 0 10px;
        font-size: 16px;
        color: black;
        background: #CCCBE7;
        border-radius: 3px;
        cursor: pointer;
        border: none;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; 
          height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      /* position: absolute;
      top: 100%; 
	  left: 0; 
	  right: 0; */
	  display: block;
      min-width: 100%;
      margin: 15px 0;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      box-sizing: border-box;
      background: #fff;
      transition: all .4s ease-in-out;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
	  z-index: 100;
	  overflow-y: hidden;
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0); 
	  z-index: 100;     
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; 
        right: 25px;
        width: 7px; 
        height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      /* .option-hover:before {
        background: #f9f9f9;
      } */
      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        border-bottom: 1px solid #b5b5b5;
        font-size: 16px;
        color: black;
        line-height: 45px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: rgba(34, 60, 80, 0.2);
      }
  

@media (max-width: 768px) {
    .main-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
    .constructor, .right-block {
        width: 100%;
        height: 50vh;
        position: relative;
    }
	.submit-button {
		top: 20vh;
	}
}
