body {
    font-family: Tahoma;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 500px;
    text-align: center;
}

h2 {
    color: #333;
}

.input-group {
    margin-top: 12%;
    margin-bottom: 15px;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #FFFBDB;
    font-family: Tahoma;
}

button {
    margin-top: 100px;
    width: 70%;
    padding: 10px;
    background-color: #FFF069;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #CCCBE7;
}

.signup-link {
    font-size: 10pt;
    margin-top: 30px;
    color: #000000;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}